1Live~http://wdr-1live-live.icecast.wdr.de/wdr/1live/live/mp3/128/stream.mp3
89.0 RTL~http://stream.89.0rtl.de/live/mp3-256
Absolut Relax~http://stream.absolutradio.de/relax/mp3-160
Alsterradio~http://alster-de-hz-fal-stream03-cluster01.radiohost.de:80/alsterradio_128
Alternativ FM~http://alternativefm.cast.addradio.de/alternativefm/simulcast/high/stream.mp3
Antenne 1 Stuttgart~http://stream.antenne1.de/stream1/livestream.mp3
Antenne Bayern~http://mp3channels.webradio.antenne.de:80/antenne
Antenne Bayern Chillout~http://mp3channels.webradio.antenne.de/chillout
Antenne Bayern Fresh~http://mp3channels.webradio.antenne.de/fresh
Antenne Brandenburg~http://rbb-antennebrandenburg-live.cast.addradio.de/rbb/antennebrandenburg/live/mp3/128/stream.mp3
Antenne Niedersachsen~http://stream.antenne.com/antenne-nds/mp3-128
Antenne Südtirol~http://server2.digital-webstream.de:23780
Antenne Saar~http://asm.akacast.akamaistream.net/7/495/305516/v1/gnl.akacast.akamaistream.net/asm
Antenne Thüringen~http://stream.antennethueringen.de/live/mp3-192/web/
Apollo Radio~http://streaming.apolloradio.de/apolloradio_simulcast_192k_mp3
B5 aktuell~http://br-b5aktuell-live.cast.addradio.de/br/b5aktuell/live/mp3/128/stream.mp3
Baden FM~http://stream.baden.fm:8006/badenfm?rpempv=3.1.101;
Berliner Rundfunk~http://topradio-de-hz-fal-stream06-cluster01.radiohost.de:80/brf_128
bigFM~http://streams.bigfm.de/bigfm-deutschland-128-mp3
BR 1~http://br-br1-obb.cast.addradio.de/br/br1/obb/mp3/128/stream.mp3
BR 2~http://br-br2-sued.cast.addradio.de/br/br2/sued/mp3/128/stream.mp3
BR 3~http://br-br3-live.cast.addradio.de/br/br3/live/mp3/128/stream.mp3
Bremen 1~http://rb-bremeneins-live.cast.addradio.de/rb/bremeneins/live/mp3/128/stream.mp3
Bremen 2~http://rb-bremenzwei-live.cast.addradio.de/rb/bremenzwei/live/mp3/128/stream.mp3
Bremen 4~http://rb-bremenvier-live.cast.addradio.de/rb/bremenvier/live/mp3/128/stream.mp3
Byte FM~http://bytefm.cast.addradio.de/bytefm/main/mid/stream
Chillout~http://tuner.m1.fm/chillout.mp3
DASDING~https://swr-dasding-live.sslcast.addradio.de/swr/dasding/live/mp3/128/stream.mp3
Detektor FM Musik~https://detektor.fm/stream/mp3/musik/
Detektor FM Wort~https://sec-detektorfm.hoerradar.de/detektorfm-wort-mp3-128
Deutschlandfunk~http://st01.dlf.de/dlf/01/128/mp3/stream.mp3
Deutschlandfunk Kultur~http://st02.dlf.de/dlf/02/128/mp3/stream.mp3
Deutschlandfunk 24~http://st04.dlf.de/dlf/04/128/mp3/stream.mp3
Deutschlandfunk Nova~http://st03.dlf.de/dlf/03/128/mp3/stream.mp3
Fritz~http://rbb-fritz-live.cast.addradio.de/rbb/fritz/live/mp3/128/stream.mp3
Harmony.fm~http://mp3.harmonyfm.de/harmonyfm/hqlivestream.mp3
HIT RADIO FFH~http://mp3.ffh.de/radioffh/hqlivestream.mp3
Hitstation FM~http://46.105.118.14:13500/;stream.mp3
HR 1~http://hr-hr1-live.cast.addradio.de/hr/hr1/live/mp3/128/stream.mp3
HR 2~http://hr-hr2-live.cast.addradio.de/hr/hr2/live/mp3/128/stream.mp3
HR 3~http://hr-hr3-live.cast.addradio.de/hr/hr3/live/mp3/128/stream.mp3
HR 4~http://hr-hr4-live.cast.addradio.de/hr/hr4/live/mp3/128/stream.mp3
HR Info~http://hr-hrinfo-live.cast.addradio.de/hr/hrinfo/live/mp3/128/stream.mp3
Inforadio rbb~http://rbb-inforadio-live.cast.addradio.de/rbb/inforadio/live/mp3/128/stream.mp3
JAM FM~http://stream.jam.fm/jamfm-live/mp3-128
Joke FM~http://rs33.stream24.net/joke-fm.mp3
Klassik Radio~http://klassikradio.hoerradar.de/klassikradio-live-mp3-mq
RBB Kulturradio~http://rbb-kulturradio-live.cast.addradio.de/rbb/kulturradio/live/mp3/128/stream.mp3
MDR Sachsen~http://mdr-284280-0.cast.mdr.de/mdr/284280/0/mp3/high/stream.mp3
MDR Schlagerwelt~http://mdr-990801-0.cast.mdr.de/mdr/990801/0/mp3/high/stream.mp3
MDR Kultur~http://mdr-284310-0.cast.mdr.de/mdr/284310/0/mp3/high/stream.mp3
MDR Aktuell~http://mdr-284340-0.cast.mdr.de/mdr/284340/0/mp3/high/stream.mp3
MDR Jump~http://mdr-284320-0.cast.mdr.de/mdr/284320/0/mp3/high/stream.mp3
MDR Klassik~http://mdr-284350-0.cast.mdr.de/mdr/284350/0/mp3/high/stream.mp3
MDR Kultur Folk~http://mdr-284311-1.cast.mdr.de/mdr/284311/1/mp3/high/stream.mp3
MDR Sputnik~http://mdr-284330-0.cast.mdr.de/mdr/284330/0/mp3/high/stream.mp3
NDR 1~http://ndr-ndr1wellenord-kiel.cast.addradio.de/ndr/ndr1wellenord/kiel/mp3/128/stream.mp3
NDR 2~http://ndr-ndr2-niedersachsen.cast.addradio.de/ndr/ndr2/niedersachsen/mp3/128/stream.mp3
NDR 903~http://ndr-ndr903-hamburg.cast.addradio.de/ndr/ndr903/hamburg/mp3/128/stream.mp3
NDR Info~http://ndr-ndrinfo-niedersachsen.cast.addradio.de/ndr/ndrinfo/niedersachsen/mp3/128/stream.mp3
NDR Kultur~http://ndr-ndrkultur-live.cast.addradio.de/ndr/ndrkultur/live/mp3/128/stream.mp3
NDR N-Joy~http://ndr-njoy-live.cast.addradio.de/ndr/njoy/live/mp3/128/stream.mp3
Ostseewelle HIT-RADIO~http://edge.live.mp3.mdn.newmedia.nacamar.net/ostseewellelive/livestream.mp3
Radio 7 Ulm~http://stream.radio7.de/stream1/livestream.mp3
Radio Berlin~http://rbb-radioberlin-live.cast.addradio.de/rbb/radioberlin/live/mp3/128/stream.mp3
RADIO BOB~http://streams.radiobob.de/bob-live/mp3-128
Radio Eins~http://rbb-radioeins-live.cast.addradio.de/rbb/radioeins/live/mp3/128/stream.mp3
Radio FFH~https://mp3.ffh.de/radioffh/hqlivestream.mp3
Radio FFH Acoustic Hits~https://mp3.ffh.de/ffhchannels/hqacoustichits.mp3
Radio FFH Sommerfeeling~https://mp3.ffh.de/ffhchannels/hqsummerfeeling.mp3
Radio FFN~http://stream.ffn.de/ffn/mp3-192
Radio FFN Comedy~http://stream.ffn.de/ffn-comedy/mp3-192
Radio Hamburg~http://stream.radiohamburg.de/rhh-live/mp3-128
RADIO PSR~http://streams.radiopsr.de/psr-live/mp3-128
Radio Rockland~http://stream.rockland-digital.de/rockland/mp3-128
Radio Salü Kulthits~http://internetradio.salue.de:8000/top100.mp3
Radio Valore~http://onair11.xdevel.com:10010/;
Radio WMW~http://mms.hoerradar.de/wmw128k
R.SH - Radio Schleswig-Holstein~http://streams.rsh.de/rsh-live/mp3-192
ROCK ANTENNE~http://mp3channels.webradio.antenne.de/rockantenne
RPR1.~http://streams.rpr1.de/rpr-simulcast-128-mp3
SR1~http://sr1m.akacast.akamaistream.net/7/725/142685/v1/gnl.akacast.akamaistream.net/sr1m
SR 2~http://sr2m.akacast.akamaistream.net/7/375/142686/v1/gnl.akacast.akamaistream.net/sr2m
SR 3~http://sr3m.akacast.akamaistream.net/7/722/142687/v1/gnl.akacast.akamaistream.net/sr3m
Sunshine Live~http://stream.sunshine-live.de/live/mp3-128
SWR 1 BW~https://swr-swr1-bw.sslcast.addradio.de/swr/swr1/bw/mp3/128/stream.mp3
SWR 2~https://swr-swr2-live.sslcast.addradio.de/swr/swr2/live/mp3/256/stream.mp3
SWR 3~https://swr-swr3-live.sslcast.addradio.de/swr/swr3/live/mp3/64/stream.mp3
SWR 4 BW~https://swr-swr4-bw.sslcast.addradio.de/swr/swr4/bw/mp3/128/stream.mp3
SWR Aktuell~https://swr-swraktuell-live.sslcast.addradio.de/swr/swraktuell/live/mp3/128/stream.mp3
TechnoBase.FM~http://tb.aacl.stream.tb-group.fm/
The Hits~http://tuner.m1.fm/hits.mp3
WDR 2~http://wdr-wdr2-rheinland.icecast.wdr.de/wdr/wdr2/rheinland/mp3/128/stream.mp3
WDR 3~http://wdr-wdr3-live.icecast.wdr.de/wdr/wdr3/live/mp3/128/stream.mp3
WDR 4~http://wdr-wdr4-live.icecast.wdr.de/wdr/wdr4/live/mp3/128/stream.mp3
WDR 5~http://wdr-wdr5-live.icecast.wdr.de/wdr/wdr5/live/mp3/128/stream.mp3
You FM~http://hr-youfm-live.cast.addradio.de/hr/youfm/live/mp3/128/stream.mp3
Hitradio OE3~http://mp3stream7.apasf.apa.at:8000
Radio österreich 1~http://mp3stream3.apasf.apa.at/
Radio FM4~http://mp3stream1.apasf.apa.at/
Radio Burgenland~http://mp3burgenland.apasf.sf.apa.at
Radio Kärnten~http://mp3kaernten.apasf.sf.apa.at
Radio Niederösterreich~http://mp3noe.apasf.sf.apa.at
Radio Oberösterreich~http://mp3ooe.apasf.sf.apa.at
Radio Salzburg~http://mp3salzburg.apasf.sf.apa.at
Radio Steiermark~http://mp3stmrk.apasf.sf.apa.at
Radio Tirol~http://mp3tirol.apasf.sf.apa.at
Radio Vorarlberg~http://mp3vlbg.apasf.sf.apa.at
Radio Wien~http://mp3wien2.apasf.sf.apa.at
Kronehit~https://secureonair.krone.at/kronehit-ultra-hd.aac
HEROLD relax Radio~http://94.136.28.13:8015/heroldrelax
Life Radio Tirol~http://194.232.200.164:8000/
Radio Grün-Weiss~http://live.gruen-weiss.at/rgw.mp3
Radio Welle Woertersee~http://s9.pop-stream.de:9750/
Soundportal~http://rs8.stream24.net/stream
Stahlradio~http://streamplus52.leonex.de:22810/
Tele Radio Vinschgau~http://88.99.122.236:8012/stream/1/
Trap.FM~http://stream.trap.fm:6004/
Welle 1 Salzburg~http://live.welle1.at:8128/
Electro Radio~http://stream.electroradio.fm/stream
my105 Original~http://stream01.my105.ch/my105original.mp3
Radio 24 102.8~http://icecast.radio24.ch/radio24
Radio 3FACH~http://stream01.3fach.ch:8001/live
Radio SRF 1~http://streaming.swisstxt.ch/m/drs1/mp3_128
Radio SRF 2~http://streaming.swisstxt.ch/m/drs2/mp3_128
Radio SRF 3~http://streaming.swisstxt.ch/m/drs3/mp3_128
Radio SRF 4 News~http://streaming.swisstxt.ch/m/drs4news/mp3_128
Radio SRF Musikwelle~http://stream.srg-ssr.ch/m/drsmw/mp3_128
Radio Swiss Classic~http://streaming.swisstxt.ch/m/rsc_de/mp3_128
Radio Swiss Jazz~http://stream.srg-ssr.ch/m/rsj/mp3_128
Radio Swiss Pop~http://stream.srg-ssr.ch/m/rsp/mp3_128
SwissGroove~http://stream1.impek.com:8100/stream/1/
